.Modal{
    position: absolute;
    top: 80px;
    left: 60px;
    right: 60px;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    outline: none;
    transition: all 0.5s ease;
    margin-right: calc(-1 * (100vw - 100%));
}

.white{
    background-color: white;
}
.pink{
    background-color: #FFE9F5;
}
.green{
    background-color: #E4FFF2;
}
.blue{
    background-color: #E7FBFF;
}
.yellow{
    background-color: #FFFAE1;
}
.multicolor{
    background: linear-gradient(to top left,white,#FFE9F5,#E4FFF2,#E7FBFF,#FFFAE1);
}
.Overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.transparent-overlay{
    background-color: rgba(255,255,255,.8);
}

.new-note-panel{
    padding: 70px 110px 40px 110px;
}

.memo-edit-title{
    margin: 0 0 20px 0;
}

.memo-edit-title input{
    width: 100%;
    outline: none;
    border: none;
    text-align: center;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;

    transition: all 0.5s ease;
}
.memo-edit-body{
    position: relative;
}

.memo-edit-body textarea{
    resize: none;
    outline: none;
    border: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

    transition: all 0.5s ease;
}

.new-memo-actions{
    display: flex;
    justify-content: center;
    position: relative;
}

.new-memo-button{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 10px 10px;

    transition: all 0.5s ease;
}

.new-memo-button:hover{
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
}

.new-mem-text-len-counter{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
}

.color-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.new-memo-color{
    height: 30px;
    width: 30px;
    margin: 0 10px 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.new-memo-color:hover{
    cursor: pointer;
}




.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
