.memo:hover{
    cursor: pointer;
}

.memo{
    transition: all 0.5s ease;
}

.memo-title{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px solid black;

    width: 255px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.trunk-lines{
    -webkit-box-orient: vertical;
}
.trunc-lines-small{
    -webkit-line-clamp: 6;
}

.trunc-lines-medium{
    -webkit-line-clamp: 9;
}

.trunc-lines-large{
    -webkit-line-clamp: 15;
}

.trunc-lines-s{
    -webkit-line-clamp: 8;
}

.trunc-lines-m{
    -webkit-line-clamp: 12;
}

.trunc-lines-l{
    -webkit-line-clamp: 18;
}