.navbar-items{
    height: 60px;
    margin-right: calc(-1 * (100vw - 100%));
}

.navbar-menu{
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar-item{
    margin: 0 10px 0 10px;
}

.new-note{
    background-color: black;
    color: white;
    height: 41px;
    width: 60px;

    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;

    border-radius: 0 0 10px 10px;
    border-color: black;

    transition: all 0.5s ease;
    outline: none;
    position: relative;
}

.new-note-text{
    display: none;
}

.new-note:hover{
    transition: all 0.5s ease;
    height: 60px;
    cursor: pointer;

    display:table-cell;
    vertical-align:middle;
}

.new-note:hover .new-note-text{
    display: initial;
}

.navbar-profile{
    position: absolute;
    margin: 20px 0 0 90px;
    display: flex;
    align-items: center;

    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.navbar-profile button{
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    border: 1px solid black;
    cursor: pointer;
}

.navbar-profile a{
    text-decoration: none;
    color: black;
}

.color-mark{
    width: 60px;
    height: 40px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: black;
    border-radius: 0 0 10px 10px;
    transition: all 0.5s ease;
}

.color-mark:hover{
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
}