.login-container{
    text-align: center;
    height: 300px;
    width: 750px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-input{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px 13px 10px 13px;
    outline: none;
    margin: 10px 10px 10px 10px;

    width: 400px;
}

.login-joke{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 40px;
}

.login-button{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;

    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 60px 10px 60px;
    margin: 10px 10px 10px 10px;

    transition: all 0.5s ease;
    background-color: black;
    color: white;
}

.login-button:hover{
    transition: all 0.5s ease;
    background-color: white;
    color: black;
    cursor: pointer;
}

.login-register{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration-line: underline;
    outline: none;
    background-color: transparent;
    border: none;
}

.login-register:hover{
    cursor: pointer;
}